<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Dashboard</title>

    <link href="css/bootstrap.min.css" rel="stylesheet">

    <link href="css/c3.css" rel="stylesheet">
    
    

    <link href="https://fonts.googleapis.com/css?family=Muli|Sedgwick+Ave+Display" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/r/bs-3.3.5/jq-2.1.4,dt-1.10.8/datatables.min.css"/>
    
    <link href="css/dashboard.css" rel="stylesheet"> 
        

</head>


<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">HelloBooks</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav pull-right">
                    <li>
                        <a href="dashboard.html">Dashboard</a>
                    </li>
                    <li>
                        <a href="adminBooks.html">Books</a>
                    </li>
                    <li>
                        <a href="profile.html">Profile</a>
                    </li>
                    <li>
                        <a href="index.html"><button class="btn">Logout</button></a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Content -->
    <div class="container">

        <div class="row">
            <div class="col-md-6">
                <h3>Admin User</h3>
                <small>Administrative user of the application</small>
            </div>
            <div class="col-md-6">
                <h3 style="text-align: right">List of all the books in the library</h3>
                <button class="btn btn-block" data-toggle="modal" data-target="#addModal">Add New Book</button>
            </div>
        </div>

        <div class="row chartRow">

            <div class="col-md-3">
                <div class="book-tiles">
                    <div class="col-md-12">
                        <div class="book-image">
                            <img class="img img-fluid img-responsive center-image" width="170px" src="img/book1.jpg">
                            <h4>Half Of A Yellow Sun</h4>
                            <small><b>Prose work by Chimamanda Adichie</b></small>
                            <button class="btn btn-block btn-default" data-toggle="modal" data-target="#editModal">Edit</button>
                        </div>
                    </div>
                </div>                    
            </div>
            <div class="col-md-3">
                <div class="book-tiles">
                    <div class="col-md-12">
                        <div class="book-image">
                            <img class="img img-fluid img-responsive center-image" width="170px" src="img/book2.jpg">
                            <h4>Half Of A Yellow Sun</h4>
                            <small><b>Prose work by Chimamanda Adichie</b></small>
                            <button class="btn btn-block btn-default" data-toggle="modal" data-target="#editModal">Edit</button>
                        </div>
                    </div>
                </div>                    
            </div>
            <div class="col-md-3">
                <div class="book-tiles">
                    <div class="col-md-12">
                        <div class="book-image">
                            <img class="img img-fluid img-responsive center-image" width="170px" src="img/book1.jpg">
                            <h4>Half Of A Yellow Sun</h4>
                            <small><b>Prose work by Chimamanda Adichie</b></small>
                            <button class="btn btn-block btn-default" data-toggle="modal" data-target="#editModal">Edit</button>
                        </div>
                    </div>
                </div>                    
            </div>
            <div class="col-md-3">
                <div class="book-tiles">
                    <div class="col-md-12">
                        <div class="book-image">
                            <img class="img img-fluid img-responsive center-image" width="170px" src="img/book1.jpg">
                            <h4>Half Of A Yellow Sun</h4>
                            <small><b>Prose work by Chimamanda Adichie</b></small>
                            <button class="btn btn-block btn-default" data-toggle="modal" data-target="#editModal">Edit</button>
                        </div>
                    </div>
                </div>                    
            </div>
            <div class="clearfix"></div>
            <div class="col-md-3">
                <div class="book-tiles">
                    <div class="col-md-12">
                        <div class="book-image">
                            <img class="img img-fluid img-responsive center-image" width="170px" src="img/book1.jpg">
                            <h4>Half Of A Yellow Sun</h4>
                            <small><b>Prose work by Chimamanda Adichie</b></small>
                            <button class="btn btn-block btn-default" data-toggle="modal" data-target="#editModal">Edit</button>
                        </div>
                    </div>
                </div>                    
            </div>
            <div class="col-md-3">
                <div class="book-tiles">
                    <div class="col-md-12">
                        <div class="book-image">
                            <img class="img img-fluid img-responsive center-image" width="170px" src="img/book1.jpg">
                            <h4>Half Of A Yellow Sun</h4>
                            <small><b>Prose work by Chimamanda Adichie</b></small>
                            <button class="btn btn-block btn-default" data-toggle="modal" data-target="#editModal">Edit</button>
                        </div>
                    </div>
                </div>                    
            </div>
            <div class="col-md-3">
                <div class="book-tiles">
                    <div class="col-md-12">
                        <div class="book-image">
                            <img class="img img-fluid img-responsive center-image" width="170px" src="img/book1.jpg">
                            <h4>Half Of A Yellow Sun</h4>
                            <small><b>Prose work by Chimamanda Adichie</b></small>
                            <button class="btn btn-block btn-default" data-toggle="modal" data-target="#editModal">Edit</button>
                        </div>
                    </div>
                </div>                    
            </div>
            <div class="col-md-3">
                <div class="book-tiles">
                    <div class="col-md-12">
                        <div class="book-image">
                            <img class="img img-fluid img-responsive center-image" width="170px" src="img/book1.jpg">
                            <h4>Half Of A Yellow Sun</h4>
                            <small><b>Prose work by Chimamanda Adichie</b></small>
                            <button class="btn btn-block btn-default" data-toggle="modal" data-target="#editModal">Edit</button>
                        </div>
                    </div>
                </div>                    
            </div>
        </div>

        <div class="row chartRow">
            <div class="col-md-3 pull-right">
                <button class="btn btn-block"> Next Page</button>
            </div>
        </div>

        
    </div>

    <!-- Modal -->
    <div id="editModal" class="modal fade" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Edit Book</h4>
          </div>
          <div class="modal-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-4">
                        <div class="image-borrow">
                            <img class="img img-responsive" src="img/hys.png">
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="about-info-p">
                            <strong>Book Name</strong>
                            <br>
                            <p class="text-muted">Half Of a Yellow Sun</p>
                        </div>
                        <div class="about-info-p">
                            <strong>Book Author</strong>
                            <br>
                            <p class="text-muted">Ngozi Adichie</p>
                        </div>
                        <div class="about-info-p">
                            <strong>Quantity</strong>
                            <br>
                            <input type="text" name="password" value="7" class="validate[required] form-control">
                            <br>
                        </div>
                        <div class="about-info-p">
                            <strong>Description</strong>
                            <br>
                            <input type="text" name="password" value="A world class book" class="validate[required] form-control">
                            <br>
                        </div>
                        <div class="about-info-p">
                            <strong>Category</strong>
                            <br>
                            <select>
                                <option>Choose Category</option>
                                <option selected>Novel</option>
                                <option>Documentary</option>
                                <option>Others</option>
                            </select>
                            <br>
                        </div>
                    </div>
                </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default">Edit</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>

      </div>
    </div>

    <!-- Modal -->
    <div id="addModal" class="modal fade" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Add New Book</h4>
          </div>
          <div class="modal-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-12">
                        <div class="about-info-p">
                            <strong>Book Name</strong>
                            <br>
                            <input type="text" name="password" class="validate[required] form-control">
                            <br>
                        </div>
                        <div class="about-info-p">
                            <strong>Book Author</strong>
                            <br>
                            <input type="text"  class="validate[required] form-control">
                            <br>
                        </div>
                        <div class="about-info-p">
                            <strong>Description</strong>
                            <br>
                            <input type="text" class="validate[required] form-control">
                            <br>
                        </div>
                        <div class="about-info-p">
                            <strong>Category</strong>
                            <br>
                            <select>
                                <option>Choose Category</option>
                                <option>Novel</option>
                                <option>Documentary</option>
                                <option>Others</option>
                            </select>
                            <br>
                        </div>
                        <div class="about-info-p">
                            <strong>Quantity</strong>
                            <br>
                            <input type="text" name="password" value="7" class="validate[required] form-control">
                            <br>
                        </div>
                        <div class="about-info-p">
                            <strong>Book Cover</strong>
                            <br>
                            <input type="file" class="validate[required] form-control">
                            <br>
                        </div>
                    </div>
                </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default">Create Book</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>

      </div>
    </div>

    <div class="container-fluid">
        <div class="row" style="background-color: #000; color:#fff; padding: 15px">
            <div class="col-md-12" style="text-align:center">
                <p>HelloBooks Application</p>
            </div>
        </div>
    </div>
        

    
    <!-- jQuery Version 1.11.1 -->
    <script src="js/jquery.js"></script>

    
    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/r/bs-3.3.5/jqc-1.11.3,dt-1.10.8/datatables.min.js"></script>
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function() {
            $('#bookTable').DataTable();
        } );
    </script>

</body>



</html>
