<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>HelloBooks | Books</title>

  <!-- Google Font -->
  <link href="https://fonts.googleapis.com/css?family=Great+Vibes" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Encode+Sans" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Ubuntu:300" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Titillium+Web:300" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body class="dashboard-body">
  
  <div class="custom-nav">
    <ul id="slide-out" class="side-nav fixed">
      <span class="dashboard-logo brand-logo">HelloBooks</span>
      <div class="container">
        <hr>
      </div>
      <div class="row hbk-row">
        <div class="col m6 offset-m3 col s8 offset-s2">
          <img src="img/profile.jpg" class="responsive-img circle" width="100%">
          <span>user@user.com</span>
        </div>
      </div>
      
      <li class="nav-link"><a href="#!" class="white-text"><i class="material-icons white-text">dashboard</i>DASHBOARD</a></li>
      <li class="nav-link"><a href="#!"><i class="material-icons">face</i>PROFILE</a></li>
      <li class="nav-link"><a href="#!" ><i class="material-icons">settings_applications</i>SETTINGS</a></li>
      <li class=" active indigo nav-link"><a href="#!" ><i class="material-icons">book</i>BOOKS</a></li>
      <li class="nav-link"><a href="#!" ><i class="material-icons">mail_outline</i>NOTIFICATIONS</a></li>
      
    </ul>
  </div>
  <a href="#" data-activates="slide-out" class="button-collapse account-slideout account-info"><i class="material-icons">menu</i></a>

  <div class="col m12">
    <div class="col m8 offset-m4 main-content">
      <div class="row account-info account-details-bar">
        <span>BOOKS</span>
        <i class="material-icons option right">power_settings_new</i>
      </div>
      <div class="row">
        <div class="col m2 s12 offset-m1">
          <div class="card">
            <div class="card-image">
              <img src="img/java.jpg">
            </div>
            <div class="card-content">
              <p><b>Java - How To Program</b></p>
            </div>
            <div class="card-action">
              <a href="#"><button class="waves-effect waves-light btn action-button">Edit</button></a>
            </div>
          </div>
        </div>

        <div class="col m2 s12">
          <div class="card">
            <div class="card-image">
              <img src="img/java.jpg">
            </div>
            <div class="card-content">
              <p><b>Java - How To Program</b></p>
            </div>
            <div class="card-action">
              <a href="#"><button class="waves-effect waves-light btn action-button">Edit</button></a>
            </div>
          </div>
        </div>

        <div class="col m2 s12">
          <div class="card">
            <div class="card-image">
              <img src="img/java.jpg">
            </div>
            <div class="card-content">
              <p><b>Java - How To Program</b></p>
            </div>
            <div class="card-action">
              <a href="#"><button class="waves-effect waves-light btn action-button">Edit</button></a>
            </div>
          </div>
        </div>

        <div class="col m2 s12">
          <div class="card">
            <div class="card-image">
              <img src="img/java.jpg">
            </div>
            <div class="card-content">
              <p><b>Java - How To Program</b></p>
            </div>
            <div class="card-action">
              <a href="#"><button class="waves-effect waves-light btn action-button">Edit</button></a>
            </div>
          </div>
        </div>

        <div class="col m2 s12">
          <div class="card">
            <div class="card-image">
              <img src="img/java.jpg">
            </div>
            <div class="card-content">
              <p><b>Java - How To Program</b></p>
            </div>
            <div class="card-action">
              <a href="#"><button class="waves-effect waves-light btn action-button">Edit</button></a>
            </div>
          </div>
        </div> 

      </div>

      <div class="row">
        <div class="col m2 s12 offset-m1">
          <div class="card">
            <div class="card-image">
              <img src="img/java.jpg">
            </div>
            <div class="card-content">
              <p><b>Java - How To Program</b></p>
            </div>
            <div class="card-action">
              <a href="#"><button class="waves-effect waves-light btn action-button">Edit</button></a>
            </div>
          </div>
        </div>

        <div class="col m2 s12">
          <div class="card">
            <div class="card-image">
              <img src="img/java.jpg">
            </div>
            <div class="card-content">
              <p><b>Java - How To Program</b></p>
            </div>
            <div class="card-action">
              <a href="#"><button class="waves-effect waves-light btn action-button">Edit</button></a>
            </div>
          </div>
        </div>

        <div class="col m2 s12">
          <div class="card">
            <div class="card-image">
              <img src="img/java.jpg">
            </div>
            <div class="card-content">
              <p><b>Java - How To Program</b></p>
            </div>
            <div class="card-action">
              <a href="#"><button class="waves-effect waves-light btn action-button">Edit</button></a>
            </div>
          </div>
        </div>

        <div class="col m2 s12">
          <div class="card">
            <div class="card-image">
              <img src="img/java.jpg">
            </div>
            <div class="card-content">
              <p><b>Java - How To Program</b></p>
            </div>
            <div class="card-action">
              <a href="#"><button class="waves-effect waves-light btn action-button">Edit</button></a>
            </div>
          </div>
        </div>

        <div class="col m2 s12">
          <div class="card">
            <div class="card-image">
              <img src="img/java.jpg">
            </div>
            <div class="card-content">
              <p><b>Java - How To Program</b></p>
            </div>
            <div class="card-action">
              <a href="#"><button class="waves-effect waves-light btn action-button">Edit</button></a>
            </div>
          </div>
        </div> 

      </div>

      <div class="row ">
        <div class="col m6 push-m6">
            <ul class="pagination">
              <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
              <li class="active"><a href="#!">1</a></li>
              <li class="waves-effect"><a href="#!">2</a></li>
              <li class="waves-effect"><a href="#!">3</a></li>
              <li class="waves-effect"><a href="#!">4</a></li>
              <li class="waves-effect"><a href="#!">5</a></li>
              <li class="waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
            </ul>
        </div>
      </div>


    </div>
  </div>
    


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="js/materialize.js"></script>
  <script src="js/init.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.3/waypoints.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Counter-Up/1.0.0/jquery.counterup.min.js"></script>

  <script>
    $(document).ready(function(){
      $('.collapsible').collapsible();
      $('.counter').counterUp({
          delay: 100,
          time: 1000
      });
    });
  </script>

  </body>
</html>
