<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>HelloBooks | Dashboard</title>

  <!-- Google Font -->
  <link href="https://fonts.googleapis.com/css?family=Great+Vibes" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Encode+Sans" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Ubuntu:300" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Titillium+Web:300" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body class="dashboard-body">
  
  <div class="custom-nav">
    <ul id="slide-out" class="side-nav fixed">
      <span class="dashboard-logo brand-logo">HelloBooks</span>
      <div class="container">
        <hr>
      </div>
      <div class="row hbk-row">
        <div class="col m6 offset-m3 col s8 offset-s2">
          <img src="img/profile.jpg" class="responsive-img circle" width="100%">
          <span>user@user.com</span>
        </div>
      </div>
      
      <li class=" active indigo nav-link"><a href="#!"><i class="material-icons">dashboard</i>DASHBOARD</a></li>
      <li class="nav-link"><a href="#!"><i class="material-icons">face</i>PROFILE</a></li>
      <li class="nav-link"><a href="#!" ><i class="material-icons">settings_applications</i>SETTINGS</a></li>
      <li class="nav-link"><a href="#!" ><i class="material-icons">book</i>BOOKS</a></li>
      <li class="nav-link"><a href="#!" ><i class="material-icons">mail_outline</i>NOTIFICATIONS</a></li>
      
    </ul>
  </div>
  <a href="#" data-activates="slide-out" class="button-collapse account-slideout account-info"><i class="material-icons">menu</i></a>

  <div class="col m12">
    <div class="col m8 offset-m4 main-content">
      <div class="row account-info account-details-bar">
        <span>DASHBOARD</span>
        <i class="material-icons option right">power_settings_new</i>
      </div>
      <div class="row">
        <div class="col m3 s12">
          <div class="card white">
            <div class="card-content ">
              <span class="card-title center">Total Books</span>
              <h4 class="center counter">50</h4>
            </div>
          </div>
        </div>

        <div class="col m3 s12">
          <div class="card white">
            <div class="card-content ">
              <span class="card-title center">Books Deleted</span>
              <h4 class="center counter">0</h4>
            </div>
          </div>
        </div>

        <div class="col m3 s12">
          <div class="card white">
            <div class="card-content ">
              <span class="card-title center">Books Borrowed</span>
              <h4 class="center counter">10</h4>
            </div>
          </div>
        </div>

        <div class="col m3 s12">
          <div class="card white">
            <div class="card-content">
              <span class="card-title center">Books Available</span>
              <h4 class="center counter">40</h4>
            </div>
          </div>
        </div>

      </div>
      <div class="row">

        <div class="col m3 s12">
          <div class="card white">
            <div class="card-content">
              <span class="card-title center">Total Users</span>
              <h4 class="center counter">15</h4>
            </div>
          </div>
        </div>

        <div class="col m3 s12">
          <div class="card blue white">
            <div class="card-content ">
              <span class="card-title center">Deleted Users</span>
              <h4 class="center counter">3</h4>
            </div>
          </div>
        </div>

        <div class="col m3 s12">
          <div class="card white">
            <div class="card-content">
              <span class="card-title center">Active Users</span>
              <h4 class="center counter">12</h4>
            </div>
          </div>
        </div>

        <div class="col m3 s12">
          <div class="card white">
            <div class="card-content ">
              <span class="card-title center">Admin Users</span>
              <h4 class="center counter">2</h4>
            </div>
          </div>
        </div>

      </div>

      <div class="row">
        <div class="col m6 s12">
          <ul class="collapsible popout" data-collapsible="accordion">
            <li>
              <div class="collapsible-header"><i class="material-icons">person_pin</i>Admin User</div>
              <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
            </li>
            <li>
              <div class="collapsible-header"><i class="material-icons">person_outline</i>Client User</div>
              <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
            </li>
            <li>
              <div class="collapsible-header"><i class="material-icons">person_outline</i>Temporary User</div>
              <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
            </li>
          </ul>
        </div>

        <div class="col m6 s12">
          <ul class="collapsible popout" data-collapsible="accordion">
            <li>
              <div class="collapsible-header"><i class="material-icons">person_outline</i>Platinium Client Account</div>
              <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
            </li>
            <li>
              <div class="collapsible-header"><i class="material-icons">person_outline</i>Gold Client Account</div>
              <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
            </li>
            <li>
              <div class="collapsible-header"><i class="material-icons">person_outline</i>Silver Client Account</div>
              <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
            </li>
          </ul>
        </div>

      </div>


    </div>
  </div>
    


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="js/materialize.js"></script>
  <script src="js/init.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.3/waypoints.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Counter-Up/1.0.0/jquery.counterup.min.js"></script>

  <script>
    $(document).ready(function(){
      $('.collapsible').collapsible();
      $('.counter').counterUp({
          delay: 100,
          time: 1000
      });
    });
  </script>

  </body>
</html>
