<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0" />
  <title>HelloBooks | Home</title>

  <!-- Google Font -->
  <link href="https://fonts.googleapis.com/css?family=Berkshire+Swash|Cairo|Maven+Pro" rel="stylesheet">

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="./css/aos.css">
  <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection" />
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection" />
</head>

<body>
  <div class="navbar-fixed">
    <nav class="navigation" role="navigation">
      <div class="nav-wrapper container">
        <a id="logo-container" href="index.html" class="brand-logo">HB</a>
        <ul class="right hide-on-med-and-down">
          <li>
            <a href="index.html">Home</a>
          </li>
          <li>
            <a href="signin.html">Signin</a>
          </li>
          <li>
            <a href="register.html">Signup</a>
          </li>
        </ul>

        <ul id="nav-mobile" class="side-nav">
          <li>
            <a href="#">Home</a>
          </li>
          <li>
            <a href="#">Signin</a>
          </li>
          <li>
            <a href="#">Signup</a>
          </li>
        </ul>
        <a href="#" data-activates="nav-mobile" class="button-collapse">
          <i class="material-icons">menu</i>
        </a>
      </div>
    </nav>
  </div>

  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br>
        <br>
        <h1 class="header center blue-text text-darken-4">HelloBooks Online Library</h1>
        <div class="row center">
          <h5 id="header-text" class="header col s12 light blue-text text-darken-4"></h5>
        </div>
        <div class="row center">
          <a href="register.html">
            <button class="waves-effect waves-light btn btn-large col s4 offset-s4  blue darken-3 " data-aos="flip-left"
              data-aos-easing="ease-out-cubic" data-aos-duration="2000">Get Started</button>
          </a>
        </div>

      </div>
    </div>
    <div class="parallax">
      <img src="background6.jpeg" alt="Unsplashed background img 1">
    </div>
  </div>


  <div class="container">
    <div class="section application-info">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m6 thumbnail-hb" data-aos="fade-up">
          <div class="icon-block">
            <div class="image-block-borrow">
            </div>
            <h5 class="center">Borrow Books</h5>

            <p class="light"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam scelerisque id nunc nec volutpat.
              Etiam pellentesque tristique arcu, non consequat magna fermentum ac. Cras ut ultricies
              eros. Maecenas eros justo, ullamcorper a sapien id, viverra ultrices eros. Morbi </p>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col s12 m6 offset-m6 thumbnail-hb" data-aos="flip-left" data-aos-easing="ease-out-cubic"
          data-aos-duration="2000">
          <div class="icon-block">
            <div class="image-block-see">
            </div>
            <h5 class="center">View Books</h5>

            <p class="light">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam scelerisque id nunc nec volutpat.
              Etiam pellentesque tristique arcu, non consequat magna fermentum ac. Cras ut ultricies
              eros. Maecenas eros justo, ullamcorper a sapien id, viverra ultrices eros. Morbi </p>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col s12 m6 thumbnail-hb" data-aos="fade-right" data-aos-offset="300" data-aos-easing="ease-in-sine">
          <div class="icon-block">
            <div class="image-block-read">
            </div>
            <h5 class="center">Read Books</h5>

            <p class="light">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam scelerisque id nunc nec volutpat.
              Etiam pellentesque tristique arcu, non consequat magna fermentum ac. Cras ut ultricies
              eros. Maecenas eros justo, ullamcorper a sapien id, viverra ultrices eros. Morbi </p>
          </div>
        </div>
      </div>

    </div>
  </div>

  <footer class="page-footer blue darken-4">
    <div class="footer-copyright">
      <div class="container">
        <div class="row">
          <div class="col s12 m6 offset-m3">
            HelloBooks | Made by
            <a class="brown-text text-lighten-3" href="http://andela.com">Kelechi Iheanyichukwu, Cohort 31 Andela</a>
          </div>
        </div>
      </div>
    </div>
  </footer>

  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="js/materialize.js"></script>
  <script src="js/typewriter.js"></script>
  <script src="./js/aos.js"></script>
  <script src="./js/main.js"></script>

</body>

</html>
