<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Frontend project</title>

    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Muli|Sedgwick+Ave+Display" rel="stylesheet">

</head>

<body>   

    <div class="container">

        <div class="row login-wrapper">
            <div class="col-md-4 col-md-offset-4">
                <div class="authentication-wrapper">
                    <h4>Login</h4>
                    <div class="form-group">
                        <button class="btn btn-block btn-danger">Sign with Google Plus</button>
                    </div>
                    <div><hr></div>
                    <div style="text-align:center"><p>OR</p></div>
                    <div><hr></div>
                    <div >
                        <input class="form-control" placeholder="Username" name ="Username" type="text">
                    </div>
                    <br>
                    <div >
                        <input class="form-control" placeholder="Password" name ="Password" type="text">
                    </div>
                    <br>
                    <div class="form-group">
                        <a href="dashboard.html"><button class="btn btn-block">Submit</button></a>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
    
    
    <script src="js/jquery.js"></script>

    <script src="js/bootstrap.min.js"></script>

</body>

</html>
