<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<title>Profile</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">

 <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link href="css/c3.css" rel="stylesheet">
    
    <link href="https://fonts.googleapis.com/css?family=Muli|Sedgwick+Ave+Display" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/r/bs-3.3.5/jq-2.1.4,dt-1.10.8/datatables.min.css"/>
    
    <link href="css/dashboard.css" rel="stylesheet">

<!-- Latest compiled and minified JavaScript -->

<!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>
  <script src="https://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
</head>
<body class="full-page">

	
      <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">HelloBooks</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav pull-right">
                    <li>
                        <a href="userdashboard.html">Dashboard</a>
                    </li>
                    <li>
                        <a href="userbooks.html">Books</a>
                    </li>
                    <li>
                        <a href="userprofile.html">Profile</a>
                    </li>
                    <li>
                        <a href="index.html"><button class="btn">Logout</button></a>
                    </li>
                    
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

      <!-- Page content -->
      <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h3>Client User</h3>
                <small>Basic user of the application</small>
            </div>
            <div class="col-md-6">
                <h4 style="text-align: right">User account profile details</h4>
            </div>
        </div>
      	<div class="row chartRow">
      		<div class="col-md-4">
      			<div class="panel panel-default panel-fill">
                    <div class="panel-heading">
                        <h3 class="panel-title">Personal Information</h3>
                    </div>
                    <div class="panel-body">
                    	<div class="profile-image">
                      		<img src="img/profile.png" width="150px" class="img img-responsive" >
                      	</div>
                        <div class="about-info-p">
                            <strong>Full Name</strong>
                            <br>
                            <p class="text-muted">Kelechi Iheanyichukwu</p>
                        </div>
                        <div class="about-info-p">
                            <strong>Email</strong>
                            <br>
                            <p class="text-muted">paradisekelechi@gmail.com</p>
                        </div>
                        <div class="about-info-p m-b-0">
                            <strong>Account Type</strong>
                            <br>
                            <p class="text-muted">Platinum</p>
                        </div>
                        <div class="about-info-p">
                            <strong>Password</strong>
                            <br>
                            <input type="password" name="password" value="password" class="validate[required] form-control" id="form-validation-field-1">
                            <br>
                        </div>
                        <div class="btn-group pull-right">
                            <button class="btn btn-default" type="submit">Edit Profile</button>
                        </div>
                    </div>
                </div>

            </div>
      		<div class="col-md-8">
      			<div class="panel-heading">
                    <h3 class="panel-title">My Borrowed Books</h3>
                </div>

                <div class="col-md-4">
                    <div class="book-tiles">
                        <div class="col-md-12">
                            <div class="book-image">
                                <img class="img img-fluid img-responsive center-image" width="170px" src="img/book1.jpg">
                                <h4>Half Of A Yellow Sun</h4>
                                <small><b>Prose work by Chimamanda Adichie</b></small>
                                <button class="btn btn-block btn-default">Return</button>
                            </div>
                        </div>
                    </div>                    
                </div>
                <div class="col-md-4">
                    <div class="book-tiles">
                        <div class="col-md-12">
                            <div class="book-image">
                                <img class="img img-fluid img-responsive center-image" width="170px" src="img/book2.jpg">
                                <h4>Half Of A Yellow Sun</h4>
                                <small><b>Prose work by Chimamanda Adichie</b></small>
                                <button class="btn btn-block btn-default">Return</button>
                            </div>
                        </div>
                    </div>                    
                </div>
                <div class="col-md-4">
                    <div class="book-tiles">
                        <div class="col-md-12">
                            <div class="book-image">
                                <img class="img img-fluid img-responsive center-image" width="170px" src="img/book1.jpg">
                                <h4>Half Of A Yellow Sun</h4>
                                <small><b>Prose work by Chimamanda Adichie</b></small>
                                <button class="btn btn-block btn-default">Return</button>
                            </div>
                        </div>
                    </div>                    
                </div>
                <div class="clearfix"></div>
                <div class="col-md-4">
                    <div class="book-tiles">
                        <div class="col-md-12">
                            <div class="book-image">
                                <img class="img img-fluid img-responsive center-image" width="170px" src="img/book2.jpg">
                                <h4>Half Of A Yellow Sun</h4>
                                <small><b>Prose work by Chimamanda Adichie</b></small>
                                <button class="btn btn-block btn-default">Return</button>
                            </div>
                        </div>
                    </div>                    
                </div>
                <div class="col-md-4">
                    <div class="book-tiles">
                        <div class="col-md-12">
                            <div class="book-image">
                                <img class="img img-fluid img-responsive center-image" width="170px" src="img/book1.jpg">
                                <h4>Half Of A Yellow Sun</h4>
                                <small><b>Prose work by Chimamanda Adichie</b></small>
                                <button class="btn btn-block btn-default">Return</button>
                            </div>
                        </div>
                    </div>                    
                </div>
      			
      		</div>
      	</div>
    </div>

    <div class="container-fluid">
        <div class="row " style="background-color: #000; color:#fff; padding: 15px">
            <div class="col-md-12" style="text-align:center">
                <p>HelloBooks Application</p>
            </div>
        </div>
    </div>


    <script type="text/javascript">
    	$(document).ready(function(){
    		$('.carousel').carousel();
			$('.carousel').carousel({
				interval: 1000
			});
			$('#example').DataTable();
    	});
    	
    </script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
	<script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap.min.js"></script>
	<script src="js/styles.js"></script>
	<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</body>
</html>