body {
        padding-top: 70px;
        font-family: 'Muli', sans-serif;
        background: inherit;
    }
.nav li{
	margin-left: 30px;
}
.chartRow{
	margin-top: 7%;
	margin-bottom: 7%;
}

.chartBox{
	background-color: rgba(0, 0, 0, 0.76);
	padding: 15px;
	margin: 15px;
	border-radius: 10px 0px;
}
.tile-data{
	padding: 10px;
}
.tiles{
	background-color: rgba(0, 0, 0, 0.76);
	min-height: 120px;
	color: #fff;
	border-radius: 10px 0px;
	margin-top: 10px;

}

.book-tiles{
}

.book-image{
	background-color: rgba(0, 0, 0, 0.76);
	min-height: 120px;
	color: #fff;
	border-radius: 10px 0px;
	margin-top: 25px;
	padding: 10px;
	text-align: center;
}

.center-image{
	margin: 0 auto;
}