body {
        padding-top: 70px;
        font-family: 'Muli', sans-serif;
        background: inherit;
    }
.nav li{
	margin-left: 30px;
}
.chartRow{
	margin-top: 7%;
}

.chartBox{
	background-color: rgba(0, 0, 0, 0.16);
	padding: 15px;
	margin: 15px;
	border-radius: 10px 0px;
}