.authentication-row {
  margin-top: 4%;
}

.authentication-header {
  margin-bottom: 12%;
  color: rgba(6, 2, 39, 0.98) !important;
}

.auth-box {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 14px;
  padding: 20px !important;
  color: rgba(6, 2, 39, 0.98) !important;
}

.logout-link {
  cursor: pointer;
}

.btn-red {
  background-color: #a00c0c !important;
}
