.authentication-row {
  margin-top: 4%;
}

.authentication-header {
  margin-bottom: 12%;
}

.auth-box {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 14px;
  padding: 20px !important;
  color: #1565C0 !important
}
