@import url('https://fonts.googleapis.com/css?family=Berkshire+Swash|Cairo|Maven+Pro|Quattrocento+Sans|Aclonica');
$header-font: 'Aclonica','Berkshire Swash',
sans-serif;
$application-font: 'Quattrocento Sans',
sans-serif;
$background-color: rgba(12,
72,
160,
1);
$red: #ab1414;
.card-content {
  padding: 5px !important;
  text-align: center;
}

.card-title {
  font-size: 20px !important;
  line-height: 22px !important;
}

.page-info {
  font-family: $header-font;
  margin-top: 2%;
  .btn {
    font-family: $application-font;
  }
}

.pagination {
  .active {
    background-color: $background-color !important;
    border-radius: 100% !important;
  }
}

.books-wrapper {
  padding: 0;
}

.btn {
  background-color: $background-color !important;
}

.btn-red {
  background-color: $red !important;
  margin-left: 3px !important;
}

#toast-container {
  position: fixed !important;
  top: 0px !important;
  left: 0px !important;
  width: 320px;
}
