@import url('https://fonts.googleapis.com/css?family=Berkshire+Swash|Cairo|Maven+Pro');
.profile-strip {
  padding: 20px;
}

.profile-image {
  border-radius: 25%;
}

.profile-details h5 {
  font-size: 20px;
  margin-top: 20px;
  font-family: 'Aclonica', 'Berkshire Swash', cursive;
}

.profile-details {
  margin-top: 7%;
}
