/* Custom Stylesheet */

$dark-color: rgba(12, 72, 160, 1);
$font-stack-styled: 'Aclonica',
'Berkshire Swash',
cursive;
$white: #fff;
$base-font: 'Quattrocento Sans',
'Maven Pro',
'Titillium Web',
'Ubuntu',
'Encode Sans',
sans-serif;
@import url('https://fonts.googleapis.com/css?family=Berkshire+Swash|Cairo|Maven+Pro|Quattrocento+Sans|Aclonica');
.icon-block {
  padding: 0 15px;
}

.icon-block .material-icons {
  font-size: inherit;
}


/* Customised styles */

.brand-logo {
  font-family: $font-stack-styled;
}

.login-logo {
  font-size: 36px;
  margin-top: 20px;
}

.dashboard-logo {
  text-align: center;
  font-size: 30px;
  margin: 50px;
  color: #fff;
}

.side-nav {
  padding-top: 30px !important;
  background-color: $dark-color !important;
}

.side-nav li a,
.side-nav li a i {
  color: #fff !important;
}

.custom-nav {
  background: url('../img/background6.jpg');
}

.nav-link {
  margin: 10px;
  border-radius: 0px;
}

body,
html {
  font-family: $base-font;
}

.dashboard-body {
  background: url('../img/back.jpeg');
  background-repeat: no-repeat;
  background-size: 100%;
}

.action-button {
  width: 100%
}

.main-content {
  position: absolute;
  left: 312px;
  right: 10px;
  background-color: #fff !important;
  height: 100%;
}

.card {
  border-radius: 0px !important;
  padding: 10px !important;
}

.option-icon {
  font-size: 26px;
}

.account-slideout {
  color: transparent;
}

.account-info {
  padding: 15px;
}

.hbk-row {
  padding-top: 20px;
  padding-right: 10px;
  color: #fff;
  text-align: center;
}

.button-collapse {
  font-size: 26px
}

.dark-blue-text {
  color: $dark-color !important;
}

.dark-blue-background {
  background-color: $dark-color !important;
}

nav ul a,
nav .brand-logo {
  color: #fff;
}

.footer-color {
  background-color: $dark-color !important;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #26a69a;
}

.parallax-container {
  min-height: 750px !important;
  line-height: 0;
  height: auto;
  color: rgba(255, 255, 255, .9);
}

.parallax-container .section {
  width: 100%;
}

.no-pad-bot {
  margin-top: 15%
}

.application-info {
  margin-top: 4%;
}

@media only screen and (max-width: 992px) {
  .main-content {
    left: 0px;
    right: 0px;
  }
  .account-slideout {
    color: #fff;
  }
}

.navigation {
  box-shadow: none;
  background-color: $dark-color !important;
}

.navigation li {
  font-family: 'Maven Pro', cursive;
}

.header,
.thumbnail-hb h5,
.contribution h3 {
  font-family: $font-stack-styled;
}

h1 {
  font-size: 3.0rem !important;
}

.image-wrapper {
  height: 150px;
}

.image-block-see {
  background: url('../img/see.png') no-repeat;
  background-size: 100% 100%;
  height: 150px;
}

.image-block-borrow {
  background: url('../img/borrow.png') no-repeat;
  background-size: 100% 100%;
  height: 150px;
}

.image-block-read {
  background: url('../img/read.jpg') no-repeat;
  background-size: 100% 100%;
  height: 150px;
}

.footer-copyright {
  text-align: center;
}

.navbar-fixed {
  z-index: 999;
}

.logoutButton {
  border-radius: 19px;
  padding: 10px;
}

.logoutButton:hover {
  cursor: pointer;
}

.table-box {
  border: 1px solid #0c072b;
  border-radius: 10px;
  padding: 20px;
}

.main-wrapper {
  min-height: 60vh;
}

.card-content {
  max-height: 100% !important;
}

.not-found,
{
  text-align: center;
  font-family: $font-stack-styled;
  margin-top: 9% !important;
}

.loader-wrapper {
  margin-top: 8% !important;
}

.about {
  h5 {
    font-family: $font-stack-styled;
  }
  ul {
    list-style: square !important;
  }
}

.loader {
  animation: up 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  border: 7px solid $dark-color;
  border-bottom: 0;
  border-radius: 100%;
  border-right: 0;
  height: 100px;
  left: 50%;
  margin-left: -70px;
  margin-top: -70px;
  position: relative;
  top: 50%;
  transition: 1s;
  width: 100px;
}

@keyframes up {
  from {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#img4 {
  animation-delay: 0.1s;
  height: 60px;
  left: 51.05%;
  top: 52.1%;
  width: 60px;
}

.toggler {
  color: $white;
  float: right;
}
