/* Custom Stylesheet */

$dark-color: rgba(6, 2, 39, 0.98);
$font-stack-styled: 'Berkshire Swash',
cursive;
@import url('https://fonts.googleapis.com/css?family=Berkshire+Swash|Cairo|Maven+Pro');
.icon-block {
  padding: 0 15px;
}

.icon-block .material-icons {
  font-size: inherit;
}


/* Customised styles */

.brand-logo {
  font-family: $font-stack-styled;
}

.login-logo {
  font-size: 36px;
  margin-top: 20px;
}

.dashboard-logo {
  text-align: center;
  font-size: 30px;
  margin: 50px;
  color: #fff;
}

.side-nav {
  padding-top: 30px !important;
  background-color: $dark-color !important;
}

.side-nav li a,
.side-nav li a i {
  color: #fff !important;
}

.custom-nav {
  background: url('../img/background6.jpg');
}

.nav-link {
  margin: 10px;
  border-radius: 0px;
}

body,
html {
  font-family: 'Maven Pro', 'Titillium Web', 'Ubuntu', 'Encode Sans', sans-serif;
}

.dashboard-body {
  background: url('../img/back.jpeg');
  background-repeat: no-repeat;
  background-size: 100%;
}

.action-button {
  width: 100%
}

.main-content {
  position: absolute;
  left: 312px;
  right: 10px;
  background-color: #fff !important;
  height: 100%;
}

.card {
  -moz-box-shadow: 0px 0px 1px 1px #75737d !important;
  -webkit-box-shadow: 0px 0px 1px 1px #75737d !important;
  box-shadow: 0px 0px 1px 1px #75737d !important;
  border-radius: 7px !important;
  padding: 10px !important;
}

.account-details-bar {}

.option-icon {
  font-size: 26px;
}

.account-slideout {
  color: transparent;
}

.account-info {
  padding: 15px;
}

.hbk-row {
  padding-top: 20px;
  padding-right: 10px;
  color: #fff;
  text-align: center;
}

.button-collapse {
  font-size: 26px
}

.dark-blue-text {
  color: $dark-color !important;
}

.dark-blue-background {
  background-color: $dark-color !important;
}

nav ul a,
nav .brand-logo {
  color: #fff;
}

.footer-color {
  background-color: $dark-color !important;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #26a69a;
}

.parallax-container {
  min-height: 750px !important;
  line-height: 0;
  height: auto;
  color: rgba(255, 255, 255, .9);
}

.parallax-container .section {
  width: 100%;
}

.no-pad-bot {
  margin-top: 15%
}

.application-info {
  margin-top: 4%;
}

@media only screen and (max-width: 992px) {
  .main-content {
    left: 0px;
    right: 0px;
  }
  .account-slideout {
    color: #fff;
  }
}

.navigation {
  box-shadow: none;
  background-color: $dark-color !important;
}

.navigation li {
  font-family: 'Maven Pro', cursive;
}

.header,
.thumbnail-hb h5,
.contribution h3 {
  font-family: $font-stack-styled;
}

.image-wrapper {
  height: 150px;
}

.image-block-see {
  background: url('../img/see.png') no-repeat;
  background-size: 100% 100%;
  height: 150px;
}

.image-block-borrow {
  background: url('../img/borrow.png') no-repeat;
  background-size: 100% 100%;
  height: 150px;
}

.image-block-read {
  background: url('../img/read.jpg') no-repeat;
  background-size: 100% 100%;
  height: 150px;
}

.footer-copyright {
  text-align: center;
}

.navbar-fixed {
  z-index: 999;
}

.logoutButton {
  border-radius: 19px;
  padding: 10px;
}

.logoutButton:hover {
  cursor: pointer;
}

.table-box {
  border: 1px solid #0c072b;
  border-radius: 10px;
  padding: 20px;
}
